@import "node_modules/bootstrap/scss/bootstrap";

@font-face {
    font-family: 'AkrobatLight';
    src: url('assets/font/akrobat-family/Akrobat-Light.otf');
 }
 @font-face {
   font-family: 'AkrobatBold';
   src: url('assets/font/akrobat-family/Akrobat-Bold.otf');
}

$primary: #90a181; 
$secondry: #a58f66;
$secondry-two-color: #c7b490;
$third-color: #ffffff; 
$fourth-color: #70835f; 
$fourth-two-color: #4b5c3c;
$fivth-color: #c995b3; 
$fivth-two-color: #aa648d;
$sixth-color: #15223b;
$ex: #ff73a4;
$seventh-color: #566989;

body{
    font-family: AkrobatLight;
}
header{
    width: 100%;
  }
  nav{
     height: 5rem;
     width: 100%;
     background-color: $third-color;
     box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
     display: flex;
     position: fixed;
     z-index: 10; 
     z-index: 10; 
  }
  .logo{
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     .top-container{
       width: 50%;
       height: auto;
       display: flex;
       justify-content: center;
       .top-span{
          text-align: center; 
          font-size: 18px;
          letter-spacing: 5px;
          border-bottom: 1px solid $ex;
       }
     }
     .bottom-container{
       width: 50%;
       height: auto;
       display: flex;
       justify-content: center;
       .bottom-span{
           text-align: center;
           font-size: 9px;
           padding-top: 5px;
       }
     }
     span{
       color: black; 
       font-size: 17px; 
       font-weight:bold; 
       letter-spacing: 1px;
       margin-left: 20px;
       text-transform: uppercase;
     }
  }
  .nav-links{
     display: flex;
     list-style: none; 
     width: 80%;
     padding: 0 0.7vw;
     justify-content: space-evenly;
     align-items: center;
     text-transform: uppercase;
     margin-bottom: 0px;
     li {
       a{
          color: rgb(0, 0, 0 , 0.7) ;
       }
     }
  }
  .nav-links li a{
     text-decoration: none;
     margin: 0 0.7vw;
     
    
  }
  .nav-links li a:hover {
     color: $fivth-color;
     border-bottom: 3px solid $fivth-color;
     transition: all ease-in 350ms;
     
  }
  .nav-links li {
     position: relative;
  }
  .nav-links li a:hover::before{
     width: 80%;
  }
  .login-button{
     background-color: transparent;
     border: 1.5px solid #f2f5f7;
     border-radius: 2em;
     padding: 0.6rem 0.8rem;
     margin-left: 2vw;
     font-size: 1rem;
     cursor: pointer;
  }
  .login-button:hover {
     color: #131418;
     background-color: #f2f5f7;
     border:1.5px solid #f2f5f7;
     transition: all ease-in-out 350ms;
  }
  .join-button{
     color: #131418;
     background-color: #61DAFB;
     border: 1.5px solid #61DAFB;
     border-radius: 2em;
     padding: 0.6rem 0.8rem;
     font-size: 1rem;
     cursor: pointer;
  }
  .join-button:hover {
     color: #f2f5f7;
     background-color: transparent;
     border:1.5px solid #f2f5f7;
     transition: all ease-in-out 350ms;
  }
  .hamburger div{
     width: 30px;
     height:3px;
     background: #f2f5f7;
     margin: 5px;
     transition: all 0.3s ease;
  }
  .hamburger{
     display: none;
  }
  img {
   
   width: 100%;
   height: 400px;
 }
 
 .text-overlay {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   color: white;
   p{

       font-size: 35px;
       span{

           font-family: AkrobatBold;

       }
   }
}
footer{
   margin-bottom: 0px;
  
   a{
       text-decoration: none;
   }
}



.copyright-contianer{
   background-color: rgba(0, 0, 0, 0.05);
   a{
       text-decoration: none;
   }
}


  @media screen and (max-width: 800px){
     nav{
         position: fixed;
         z-index: 10;
     }
     .hamburger{
         display:block;
         position: absolute;
         cursor: pointer;
         right: 5%;
         top: 50%;
         transform: translate(-5%, -50%);
         z-index: 2;
         transition: all 0.7s ease;
     }
     .nav-links{
         position: absolute;
         background: white ;
         height: 4.5rem;
         width: 50%;
         z-index: -2;
         flex-direction: column;
         
       
         transition: all 1s ease-in-out;
         pointer-events: none;
        left: 0;
        right: 0;
        margin-left: 25%;
     }
     .open{
         pointer-events: all;
         height: 60vh;
         width: 50%;
         margin: auto;
         left: 0;
         right: 0;
         z-index: -2;
         top: 4.5rem;
         display:flex;
         background-color: white;
         border-top: 1px solid #131418;
     }
     .nav-links li{
         opacity: 0;
     }
     .nav-links li:nth-child(6){
         margin: 0;
     }
     .nav-links li:nth-child(7){
         margin: 0;
     }
    .nav-links li.fate{
         opacity: 1;
     }
  }
  
  .toggle .line1{
     transform: rotate(-45deg) translate(-5px,6px);
  }
  .toggle .line2{
     transition: all 0.7s ease;
     width:0;
  }
  .toggle .line3{
     transform: rotate(45deg) translate(-5px,-6px);
  }
@media (min-width: 576px) {
   .pt-sm-6{
      padding-top: 4.5rem !important;
   }
   nav{
      height: 6rem;
   }
   .nav-links.open{
        pointer-events: all;
        height: 60vh;
        width: 50%;
        margin: auto;
        left: 0;
        right: 0;
        z-index: -2;
        top: 6rem;
    }
   
   .logo{
      width: 45%;
      .top-container{
        width: 100%;
       
      }
   }
   img{
      position: relative;
      height: 500px;
  }
      .text-overlay {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          color: white;

          p{
              font-size: 35px;
              span{

                  font-family: AkrobatBold;
      
              }
          }

          
      
      }
  }

 
    

@media (min-width: 768px) {  
   .pt-md-6{
      padding-top: 4.5rem !important;
   }
   nav{
      height: 6rem;
   }
   .nav-links.open{
        top: 6rem;
    }
   .logo{
      width:47%;
      .top-container{
        width: 100%;
   }
}
img{
   position: relative;
   height: 500px;
}
   .text-overlay {
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       text-align: center;
       color: white;

      p{
        font-size: 50px;
        span{

           font-family: AkrobatBold;

        }
      } 

   
   }
}
@media(min-width: 992px){
   nav{
      height: 6rem;
   }
   .logo{
      width:35%;
      .top-container{
        width: 100%;
      }
   }
}
@media (min-width: 1200px) { 
   nav{
      height: 6rem;
   }
   .logo{
      width: 30%;
      .top-container{
        width: 100%;
      }
   }
   img{
      height: 600px;
  }
 }
 @media (min-width: 1400px) { 
   nav{
      height: 6rem;
   }
   .logo{
      width: 30%;
      .top-container{
        width: 100%;
      }
   }
 }
 @media (min-width: 1700px){
   nav{
      height: 6rem;
   }
   .logo{
      width: 20%;
      .top-container{
        width: 100%;
      }
   }
 }
