.quote-container{

    background-color: antiquewhite;
    height: 50px;
    h1{
        margin-bottom: 0px;
    }
}

    .about-me-container{
        margin-left: 10%;
        margin-right: 10%;
        height: fit-content;
         
        
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
       
         .row{
    
                .about-image-container{
                    .second-img-container{
                       height: auto;
                       width: auto;
                       
           
                       img{
                          height: 100px;
                          width: 10px;
                          
                          
                       }
                      
                    }
                  
                 }
                
                
            
         }
     } 
    


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

    .quote-container{

        background-color: antiquewhite;
        height: 80px;
        h1{
            margin-bottom: 0px;
        }
    }

 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 

 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

 }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {

 }